/*Variable declaration*/
:root {
  /* Background */
  --header-background-color: #ffffff;
  --additional-background-color: #2f303a;
  --fourth-section-background: #f5f4fa;
  /*Button*/
  --button-background: #f5f4fa;
  --button-hover-background: #2196f3;
  --main-button-hover: #1980d3;
  --main-color-button: #212121;
  --additional-color-button: #ffffff;
  /*Text color*/
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --logo-color: #000000;
  --hover-text-color: #2196f3;
  --additional-color: #ffffff;
}

/*Body*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--header-background-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Header*/
.link {
  text-decoration: none;
}
.logo {
  color: var(--hover-text-color);
}
.nav-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--logo-color);
  letter-spacing: 0.03em;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-text-primary);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-text-color);
}
.current {
  color: var(--hover-text-color);
}
.list {
  list-style: none;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-text-secondary);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-text-color);
}

/*Main 1 section*/
.effective {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--additional-background-color);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--additional-color);
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--additional-color-button);
  background-color: var(--button-hover-background);
}
.button:hover,
.button:focus {
  background-color: var(--main-button-hover);
}
/*2 section*/
.visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-primary);
}
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
}

/*3 section*/
.img-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-primary);
}

/*4 section*/
.team {
  background-color: var(--fourth-section-background);
}
.team-item {
  background-color: var(--header-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-primary);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-primary);
}
.team-text {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-secondary);
}

/*Footer*/
.footer {
  background-color: var(--additional-background-color);
}
.logo {
  color: var(--hover-text-color);
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
.footer-link-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--additional-color);
}
.footer-link-mail {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

/*Portfolio*/
.button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  background-color: var(--button-background);
  color: var(--main-color-button);
  border: none;
  cursor: pointer;
}
.button-item:hover,
.button-item:focus {
  background-color: var(--button-hover-background);
  color: var(--additional-color-button);
}
.main {
  background-color: var(--header-background-color);
}
.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-text-primary);
}
.text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-text-secondary);
}
.list-photo-item {
  border: 1px solid #eeeeee;
}
